#topView {
   height: 50%;
}

#bottomView {
    height: 50%;
    border-style: solid;
    border-width: 2px 0px 0px 0px;
    margin-top: 5px;
}

.nameCell {
    width: 120px;
}

.searchCell {
    width: 120px;
}

.actionCell {
    width: 150px;
}

.statusCell .itemStatus {
    width: 120px;
    text-align: center;
}